<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% categoryContent.forEach(item => { %>
      <li>
        <strong><%= item.name %></strong> - Quantity: <%= item.quantity %>
      </li>
      <% }); %>
    </ul>
    <a href="/">Back to all Categories</a>
  </body>
</html>
